@media (max-width: 600px) {
  .products {
    display: inherit;
    height: auto;
  }
  .product {
    margin-top: auto;
  }
  .main_section {
    padding: 4%;
    height: auto;
    margin-top: auto;
  }
  .content_campaigns footer {
    display: inherit;
    height: auto;
    margin-top: auto;
  }
}
